<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<bean id="myAspect" class="test02_transaction.CommonPerspectiveAspect"></bean>

	<bean id="boy" class="test02_transaction.Boy"></bean>
	<bean id="girl" class="test02_transaction.Girl"></bean>
	
	<aop:config>
		<aop:aspect ref="myAspect">
<!-- 		I defined it because it was annoying to use every time -->
			<aop:pointcut expression="execution(* doSomething())" id="myPoint"/>
			<aop:before method="myBefore"
				pointcut-ref="myPoint"/>
			<aop:after-returning method="myAfterReturning"
				pointcut-ref="myPoint"/>
			<aop:after-throwing method="myAfterThrowing"
				pointcut-ref="myPoint"/>
			<aop:after method="myAfter"
				pointcut-ref="myPoint"/>
		</aop:aspect>
	</aop:config>

		
</beans>
