<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test03_spring_anno.BookMapper">
	<!-- insert -->
	<insert id="insert" parameterType="BookVO" >
		Insert into
		book(title,publisher, price, writer)
		values(#{title},#{publisher}, #{price}, #{writer})
	</insert>
</mapper>