<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.BookMapper">
	<!-- insert -->
	<insert id="insert" parameterType="BookVO" useGeneratedKeys="true"
		keyProperty="jBookNum">
		Insert into
		book(title,publisher, price, writer)
		values(#{jTitle},#{jPublish}, #{jPrice}, #{jWriter})
	</insert>
	<!-- select -->
	<select id="selectAll" resultMap="BookResultMap">
		Select * from book
	</select>

	<resultMap type="BookVO" id="BookResultMap">
		<result column="BOOK_NUM" property="jBookNum" />
		<result column="TITLE" property="jTitle" />
		<result column="PUBLISHER" property="jPublisher" />
		<result column="PRICE" property="jPrice" />
		<result column="WRITER" property="jWriter" />
	</resultMap>
</mapper>